@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ProductListingBlockListViewModel>

<div class="products-container">
    @foreach (var product in Model.Products)
    {
        <strong>@product.Id | @product.Name</strong>
        <img src="@product.ImageUrl"/>
    }
</div>