<?xml version="1.0" encoding="utf-8"?>
<Media Key="a73f5eb7-2a51-4f55-91c8-b53158edc17c" Alias="demo-product.jpg" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/demoProductjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-27T10:14:20</CreateDate>
    <NodeName Default="demo-product.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wfpd5j0r/demo-product.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>