<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="597656e5-d040-4fca-9144-650efe797de2" Alias="contactForms" Level="2">
  <Info>
    <Name>Contact Forms</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>List of all the contact forms</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Contact+Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="95a3a251-9159-4b18-a10e-8c74d886e5c3" SortOrder="0">contactForm</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>