<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18e00948-1c47-4cf2-b5a4-99ba0a4eae31" Alias="data" Level="1">
  <Info>
    <Name>Data</Name>
    <Icon>icon-server-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="01f41656-f112-4cba-b531-e9413bdf3295" SortOrder="0">siteSettings</ContentType>
    <ContentType Key="ad707e9e-4074-407d-9591-fb32ba0b111c" SortOrder="1">emailTemplates</ContentType>
    <ContentType Key="4b4be49a-022c-44a3-80c9-56b3943c34ce" SortOrder="2">emails</ContentType>
    <ContentType Key="597656e5-d040-4fca-9144-650efe797de2" SortOrder="3">contactForms</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>