<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b4be49a-022c-44a3-80c9-56b3943c34ce" Alias="emails" Level="2">
  <Info>
    <Name>Emails</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Emails</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="18646161-f7bd-4d1f-b9d1-c131774f7b3e" SortOrder="0">email</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>