<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad707e9e-4074-407d-9591-fb32ba0b111c" Alias="emailTemplates" Level="2">
  <Info>
    <Name>Email Templates</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Email+Templates</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4e045475-93b0-4dac-b01c-d5ac61295b96" SortOrder="0">emailTemplate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>