<?xml version="1.0" encoding="utf-8"?>
<DataType Key="177b9809-038d-49fe-b453-8966b65ce8f4" Alias="Person - Github User - Github user" Level="1">
  <Info>
    <Name>Person - Github User - Github user</Name>
    <EditorAlias>githubUser</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>