<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0cc9e53-be51-4959-97a2-64803db50081" Alias="TutorialPage - Content Body - Block List" Level="1">
  <Info>
    <Name>TutorialPage - Content Body - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Image",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/Image/Image.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Rich text editor",
      "settingsElementTypeKey": "b1e2fc62-1236-43fc-a515-130d2caa8497",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/RichText/RichText.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b56b6f02-d369-45e7-898d-a47bb2057d54",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Product listing",
      "settingsElementTypeKey": "6b67c023-e6ea-4c3b-9a75-a1d5badafd06",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/ProductListing/productlisting.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>