<?xml version="1.0" encoding="utf-8"?>
<Content Key="31323a8a-b315-4b36-b7df-02fb38c286cd" Alias="Tutorial Product" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/TutorialProduct</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-10-27T10:14:43</CreateDate>
    <NodeName Default="Tutorial Product" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[Tutorial1,Tutorial2]]></Value>
    </category>
    <description>
      <Value><![CDATA[This is a demo product created through API]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[umb://media/a73f5eb72a514f5591c8b53158edc17c]]></Value>
    </photos>
    <price>
      <Value><![CDATA[150.4]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Tutorial Product]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[TUTORIAL-PRODUCT-123]]></Value>
    </sku>
  </Properties>
</Content>