<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d36e0653-cb07-4461-abd7-80868a2575b6" Alias="Home - Content - Block Grid" Level="1">
  <Info>
    <Name>Home - Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "acb45439-f439-4f58-a54e-c3767bc33a9c",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoHeadlineBlock.html",
      "stylesheet": null,
      "label": "Headline ({{headline | truncate:true:36}})",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "689db8ff-95a8-4683-8ff2-753388efc50b"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": null,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoImageBlock.html",
      "stylesheet": null,
      "label": "Image",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "689db8ff-95a8-4683-8ff2-753388efc50b"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": null,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoRichTextBlock.html",
      "stylesheet": null,
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "689db8ff-95a8-4683-8ff2-753388efc50b"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": null,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "key": "9c173a2d-8010-4de4-ae63-a79cecf8dec0",
          "alias": "left",
          "createLabel": null,
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null,
          "specifiedAllowance": []
        },
        {
          "key": "4725a342-5346-4c08-9de4-254ef1e7e704",
          "alias": "right",
          "createLabel": null,
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html",
      "stylesheet": null,
      "label": "Two Column Layout",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "689db8ff-95a8-4683-8ff2-753388efc50b"
    }
  ],
  "BlockGroups": [
    {
      "key": "689db8ff-95a8-4683-8ff2-753388efc50b",
      "name": "Demo Blocks"
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "MaxPropertyWidth": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "CreateLabel": null
}]]></Config>
</DataType>