<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5edcf09f-fee8-4b74-be10-a993a840d2d9" Alias="RichText Settings - Background Color - Color Picker" Level="1">
  <Info>
    <Name>RichText Settings - Background Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"8fce00\",\"label\":\"8fce00\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"f44336\",\"label\":\"f44336\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"073763\",\"label\":\"073763\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>